$primary-color: #597ef7 !default;
//灰度色板
$grey-1: #ffffff !default;
$grey-2: #fafafa !default;
$grey-3: #f5f5f5 !default;
$grey-4: #f0f0f0 !default;
$grey-5: #d9d9d9 !default;
$grey-6: #bfbfbf !default;
$grey-7: #8c8c8c !default;
$grey-8: #595959 !default;
$grey-9: #434343 !default;
$grey-10: #262626 !default;
$grey-11: #1f1f1f !default;
$grey-12: #141414 !default;
$grey-13: #000000 !default;

//滚动条样式
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-thumb {
  background: $grey-6;
  border-radius: 2px;
}

* {
  scrollbar-color: #e5e5e5 #f7f7f9; /* 滑块颜色  滚动条背景颜色 */
  scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
}

body {
  background: url('../assets/background.svg');
} 

.blog-title {
  display: flex;
  justify-content: space-between;
}

.blog-content {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blog-content-list {
  width: 800px;
}

.blog-pagination {
  text-align: center;
  margin-bottom: 16px;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    transition: all .3s;
  }
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('../assets/background.svg');
  .login-box {
    height: 300px;
    .login-box-title {
      font-size: 24px;
      text-align: center;
      margin-bottom: 24px;
    }
  }
  .ant-btn-background-ghost{
    margin-top: 16px;
    color: $primary-color;
    border-color: $primary-color;
    font-weight: 600;
    border-width: 2px;
    &:hover{
      color: #434343;
      border-color: #434343;
    }
  }
}

.blog-preview-container {
  margin: 24px 24px;
}

.blog-page {
  padding: 24px 36px;
  .blog-page-title {
    text-align: center;
    font-size: 28px;
    margin: 8px 0 32px 0;
  }
}

.blog-tag-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .blog-tag-list-tags {
    margin-top: 16px;
    display: flex;
    .blog-tag-list-tag {
      min-width: 24px;
      border-radius: 4px;
      margin: 4px;
      padding: 0px 4px;
      color: $grey-2;
      cursor: pointer;
      font-size: 14px;
      transition: all .3s;
      transform: scale(1);
      &:hover {
        transform: scale(1.05);
        transition: all .3s;
      }
    }
  }
}


@import '../components/cover/style';
@import '../components/header/style';
@import '../components/previewCard/style';
@import '../components/input/style';
@import '../components/info/style';
@import '../components/loadMore/style';
@import '../components/avatar/style';