<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.felis.markblogserver.dao.BlogDao">

    <resultMap id="blogMap" type="com.felis.markblogserver.entity.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <sql id="queryBlog">
        select
            a.id,
            a.title,
            a.content,
            a.created_time,
            a.updated_time,
            a.created_by,
            a.updated_by,
            a.is_delete from t_blog a
            where is_delete = 'N'
    </sql>

    <select id="getPaging" resultMap="blogMap">
        <include refid="queryBlog"/>
        <if test="p.tag !=null and p.tag !=''">
            and exists (
            select 1 from t_blog_tag x inner join t_tag y on x.tag_id = y.id
            where y.name = #{p.tag} and x.blog_id = a.id
            )
        </if>
        order by a.id desc
    </select>

    <select id="getById" parameterType="int" resultMap="blogMap">
        <include refid="queryBlog"/>
        and a.id = #{id}
    </select>


</mapper>